@import url('https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Indie+Flower&family=Pacifico&display=swap');

/*Cor do site*/
body{
	background-color: rgba(15, 255, 235, 0.867);
    font-family: Arial, Helvetica, serif;
	
}
img#golfinho{
	display: flex;
	position: absolute;
	top: 75px;
	cursor: pointer;
	padding-left: 295px;
}

div#interface{
	width: 1000px ;
	position: relative;
	background-color: #ffff;
	margin: 10px auto 0px auto;
	box-shadow: 0px 0px 10px black;
	padding: 10px;
    border-radius: 5px;
    
    
}



/*Editando a section conteudo primario */


section#corpo{
	display: block; /*O documento so pode flutuar se for definido como um bloco*/
	width: 600px; 
	float: left; /*Foi definido para flutuar para o lado esquerto*/
	border-right:1px solid;
	padding-right: 15px;
	color: black;
	
}
section#corpo {
	font-family: 'Palette Mosaic', cursive; /*Fonte para os titulos*/
	font-family: 'Quicksand', sans-serif;
}
section#corpo h2{
    font-family: 'Anton', sans-serif;
    font-family: 'Indie Flower', cursive;
    margin-top: -15px;
    
}

section#corpo a{
	color: rgb(0, 0, 0);
}

/*Edição da area de introdução*/

div#introducao h1{
	font-family: 'Anton', sans-serif;
    font-family: 'Indie Flower', cursive;
	margin-top: 35px;
    text-shadow: 0px 15px 4px rgba(29, 29, 29, 0.623);
    color: rgba(85, 83, 83, 0.849);
}

div#introducao h2{
	display: flex;
	position: relative;
	left: 80px;
	top: -10px;
	text-shadow: 0px 15px 4px rgba(29, 29, 29, 0.623);
	color: rgba(85, 83, 83, 0.849);
}




/*Edição do Aside lateral*/
aside#lateral{
	font-family: 'Palette Mosaic', cursive; /*Fonte para os titulos*/
	font-family: 'Quicksand', sans-serif;
	display: block; 
	width: 380px;
	float: right; /*Foi definido para flutuar para o lado direito*/
	color: rgb(0, 0, 0);

}


div#navegacao{
	background-color: #a9dfec;
	padding: 25px;
	margin-right: -5px;
	margin-left: 0px;
	border-radius: 10px;
	margin-bottom: 25px;
	box-shadow: 0px 0px 10px black;
}

div#navegacao h1{
	position: relative;
	font-family: 'Anton', sans-serif;
    font-family: 'Indie Flower', cursive;
	top: -40px;
	padding-left: 20px;
}

div#navegacao a{
	text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.867);
	font-size: 20px;
	font-family: 'Courier New', Courier, monospace;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	transition: text-decoration 1s;
}

div#navegacao ul li{
	position: relative;
	list-style: none;
	top: -45px;
	padding-top: 20px;

}

/*Animação*/
div#navegacao a::after{
    content:" ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, rgba(43, 89, 241, 0.911), rgb(84, 173, 245) );
    position: absolute;
    top: 45px;
    left: 0;
    transition: width 1s;
}

div#navegacao a:hover::after{
    width: 30px;
}
/* Edição da area de videos*/
div#videos img{
	display: flex;
	position: absolute;
	right: 60px;
	width: 58px;
}

div#videos{
	background-color: #61c9e3;
	border-radius: 10%;
	box-shadow: 0px 0px 10px black;
	margin-left: 0px;
	margin-right: -5px;
}

div#videos iframe{
	position: relative;
	left: 30px;
	border-radius: 15px;
}

div#videos h2{
	position: relative;
	left: 20px;
}

aside#lateral h2{
	font-family: 'Indie Flower', cursive;
}

/*Edição do conteudo(Artigo)*/

article#conteudo{
	margin-top: 25px;
}

article#conteudo li{
	padding-top: 10px;
	
}

#sobre-prj{
    background: #61c9e3;
    padding: 10px;
    margin: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    
}
#sobre-prj h3{
    font-family: 'Anton', sans-serif;
    font-family: 'Indie Flower', cursive;
}

#sobre-prj p{
    font-family: 'Courier New', Courier, monospace;
}



/*CRIAÇÃO DO RODAPE*/

footer#rodape{
	clear: both; /*Para poder limpar as configurações*/
	border-top: 1px solid ;
	color: rgb(0, 0, 0);
}

footer#rodape p{
	text-align: center;
	font-family: 'Indie Flower', cursive;
}

footer#rodape a{
	color: rgb(0, 0, 0);
  font-family: 'Indie Flower', cursive;
}

/*FORMATAÇÃO DO BOTAO TOPO*/
#link-topo{
	text-decoration: none;
	color: rgb(49, 51, 51);
	padding: 6px;
	background-color: #06657c;
	position: fixed;
	right: 10px;
	bottom: 10px;
	box-shadow: 3px 3px 10px black;
}

/*MENU*/

#menu{
	width: 35px;
	height: 30px;
	margin: 30px 0 20px 20px;
	cursor: pointer;
}
.bar{
	height: 5px;
	width: 100%;
	background-color: #000000;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
	
}
#bar1{
	transform: translateY(-4px);
}
#bar3{
	transform: translateY(4px);
}
.nav li a
{
	color: #fff;
	text-decoration: none;
}
.nav li a:hover
{
	font-weight: bold;
}
.nav li
{
	list-style: none;
	padding: 16px 0;
}
.nav
{
	padding: 0;
	margin: 0 20px;
	transition: 0.3s ease;
	display: none;
}
.menu-bg, #menu-bar{
	top:0;
	left: 0;
	position: absolute;
}
.menu-bg{
	z-index: 1;
	width: 0;
	height: 0;
	margin: 30px 0 20px 20px;
	background: radial-gradient(circle,#2c5ee7,#0de0ac);
	border-radius: 50%;
	transition: 0.3s ease;
}
#menu-bar{
	z-index:2;

}
.change-bg
{
	width: 550px;
	height: 540px;
	transform: translate(-60%,-30%);
}
.change .bar{
	background-color: white;
}
.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change{
	display: block;
} 